<h1>Employees</h1>

<ul>
    <% @employees.each do |employee| %>
        <li>
            <%= link_to employee.full_name, employee_path(employee) %>
        </li>
    <% end %>
</ul>


<%= link_to "Create New Employee", new_employee_path %>
<%= link_to "Dogs", dogs_path %>