<h1> Dog Index </h1>

<% if @button %>
    <% @dogs.each do |dog| %>
        <p><%= link_to dog.name, dog_path(dog) %></p>
    <% end %>
<% else %>
    <% @popular_dogs.each do |dog| %>
        <p><%= link_to dog.name, dog_path(dog) %></p>
    <% end %>
<% end %>

<%= link_to "Sort by Most Popular Dog", '/dogs/:id', :method=> :patch %>




<hr>
<%= link_to "Employee Index", employees_path %>
